@model IEnumerable<Chatter.Models.Chat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="response"></div>
<button id="getChats" class="btn btn-primary">Get Chats</button>

@section Scripts {
    <script>
        var jsonTest = {
            "firstName": "Bob", "lastName": "Sauce", "children":
            [{ "firstName": "Barbie", "age": 19 }, { "firstName": "Ron", "age": null }]
        }

        //jQuery
        $("#response").text(jsonTest.children[1].firstName);

        ////JSON . . . Javascript object
        //var jsonTest = { "ID": 1, "userID": 1, "Message": "Hello World" };
        ////now some jQuery
        //$("#response").text(jsonTest.Message);
    </script>
}

